@import 'pages/thankyou';
@import 'pages/cashregister';
@import 'pages/productpage';
@import 'pages/startpage';
@import 'helpers/config';
@import 'helpers/mixins';

/* Global Rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F7F7F8;
    font-family: 'Nunito', sans-serif;
}

.navbar {
    background-color: #fff;
    .navbar-brand {
        padding: 0;
            img {
            height: 60px;
            width: 90px;
            }
    }
    #home {
        @include navlink-spec;
    }
    #home:hover {
        @include hover-navlink;
    }
    #products {
        @include navlink-spec;
    }
    #products:hover {
        @include hover-navlink;
    }
    #checkout {
        @include navlink-spec;
    }
    #checkout:hover {
        @include hover-navlink;
    }
}

#cartdiv {
    width:90%;
    max-height: 300px;
    position: absolute;
    background-color: snow;
    border: 1px solid #000;
    display: none;
    font-size: 0.8rem;
    position: absolute;
    left: 5%;
    top: 95%;
    overflow-y: scroll;
    border-radius: 5px;
    a {
        margin: 1rem;
    }
    @include mobile-small {
        max-height: 400px;
    }
    @include mobile-large {
        font-size: 1rem;
        max-width: 400px;
        left: 20%;
        top: 80%;
    }
    @include desktop {
        left: 25%;
        top: 75;
    }
    #carttablebody {
        .cartimg {
            height: 35px;
            width: 45px;
        }
        td {
            padding: 8px 4px 8px 4px;
            .add {
                @include pointer;
                color: #63CA00;
                padding-left: 0.3rem;
            }
            .decrease {
                @include pointer;
                color: #DC143C;
                padding-left: 0.4rem;
            }
        }
    }
}

#footertop {
    margin-top: 3rem;
    padding: 2rem;
    background-color: #A9A9A9;
    color: $whitetext;
    .container {
        h6 {
            font-weight: 700;
        }
        .aboutus {
            font-size: 0.8rem;
        }
        .form-inline {
            justify-content: center;
        }
        #erroremail {
            display: none;
        }
        .contacttext {
            list-style: none;
            font-size: 0.8rem;
        }
        .contacticons {
            list-style: none;
        }
        .socialicons {
            @include flexdisplay;
            list-style: none;
            @include ipad-small {
                flex-direction: column;
            }
            .fab {
                padding: 0.5rem;
                font-size: 1.5rem;
                color: #FCF6F5FF;
            }
            .fab:hover {
                transform: scale(1.5);
                transition: all 0.2s ease;
                cursor: pointer;
            }
        }
        img {
            height: 100px;
            width: 160px;
            }
    }
}

#footerbottom {
    background-color: #000;
    color: $whitetext;
    .payicons {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
    .fab {
        padding: 0.5rem;
        font-size: 2rem;
    }   
    .copyright {
        font-size: 0.7rem;
    }
    .sidetext {
        font-size: 0.7rem;
    }
}

/* Email Dialog Style */
.myClass.ui-dialog {
    font-family: 'Nunito', sans-serif;
    background-color: #783937FF;
    .ui-widget-content {
        color: $whitetext;
    }
    .ui-widget-header {
        background-color: #FC766AFF;
        color: $whitetext;
        border: none;
        .ui-button-icon {
            background-color: #DC143C;
        }
    }
    .ui-dialog-buttonpane.ui-widget-content {
        background: #FC766AFF;
        border: none;
        .ui-button {
            color: $whitetext;
            background-color: #5cb85c;
        }
    }
}


