@import 'pages/thankyou';
@import 'pages/cashregister';
@import 'pages/productpage';
@import 'pages/startpage';
@import 'helpers/config';
@import 'helpers/mixins';

/* Global Rules */

/* Hej */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F7F7F8;
    font-family: 'Nunito', sans-serif;
}

.navbar {
    background-color: #fff;
    .navbar-brand {
        padding: 0;
            img {
            height: 60px;
            width: 90px;
            }
    }

    #home {
        @include navlink-spec;
    }
    #home:hover {
        @include hover-navlink;
    }
    #products {
        @include navlink-spec;
    }
    #products:hover {
        @include hover-navlink;
    }
    #checkout {
        @include navlink-spec;
    }
    #checkout:hover {
        @include hover-navlink;
    }
}

#footertop {
    margin-top: 3rem;
    padding: 2rem;
    background-color: #A9A9A9;
    color: $whitetext;
    .container {
        h6 {
            font-weight: 700;
        }
        .aboutus {
            font-size: 0.8rem;
        }
        .form-inline {
            justify-content: center;
        }
        #erroremail {
            display: none;
        }
        .contacttext {
            list-style: none;
            font-size: 0.8rem;
        }
        .contacticons {
            list-style: none;
        }
        .socialicons {
            @include flexdisplay;
            list-style: none;
            @include ipad-small {
                flex-direction: column;
            }
            .fab {
                padding: 0.5rem;
                font-size: 1.5rem;
                color: #FCF6F5FF;
            }
            .fab:hover {
                transform: scale(1.5);
                transition: all 0.2s ease;
                cursor: pointer;
            }
        }
        img {
            height: 100px;
            width: 160px;
            }
    }
}

#footerbottom {
    background-color: #000;
    color: $whitetext;
    .payicons {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
    .fab {
        padding: 0.5rem;
        font-size: 2rem;
    }   
    .copyright {
        font-size: 0.7rem;
    }
}

/* Email Dialog Style */
.myClass.ui-dialog {
    font-family: 'Nunito', sans-serif;
    background-color: #783937FF;
    .ui-widget-content {
        color: $whitetext;
    }
    .ui-widget-header {
        background-color: #FC766AFF;
        color: $whitetext;
        border: none;
        .ui-button-icon {
            background-color: #DC143C;
        }
    }
    .ui-dialog-buttonpane.ui-widget-content {
        background: #FC766AFF;
        border: none;
        .ui-button {
            color: $whitetext;
            background-color: #5cb85c;
        }
    }
}