@import '../helpers/config';
@import '../helpers/mixins';

.jumbotron {
    background: url(../images/backgroundimages/christmasfood1.jpg) no-repeat center center/cover;
        h1 {
            color: $whitetext;
            text-shadow: $boxshadowtext;
            font-size: 2.5rem;
        }
        p {
            color: $whitetext;
            text-shadow: $boxshadowtext;
        }
}

#dividertext {
    h5 {
        text-transform: uppercase;
        color: #000;
        text-decoration: underline;
    }
}

#featureproducts {
    .card {
        cursor: pointer;
            .card-body {
                h5 {
                    font-size: 1rem;
                    @include mobile-large {
                        font-size: 1.25rem;
                    }
                }
                h6 {
                    font-size: 0.8rem;
                    @include mobile-large {
                        font-size: 1rem;
                    }
                }
                p {
                    font-size: 0.6rem;
                    @include mobile-large {
                        font-size: 0.7rem;
                    }
                }
            }
            .image {
                img {
                    width: 100%;
                }
            }
    }
    .card:hover {
        opacity: 0.7;
        transform: scale(1.05);
        transition: all 0.3s ease;
    }
    .card-footer {
        p {
            font-size: 0.6rem;
            margin-bottom: 0;
            text-align: center;
            background-color: red;
            color: $whitetext;
            @include ipad-small {
                font-size: 0.7rem;
            }
            @include ipad-large {
                font-size: 1rem;
            }
        }       
    }
}

#featurehero {
    background: url(../images/backgroundimages/foodbg1.jpg) no-repeat center center/cover;
    height: 150px;
    border-radius: 5px;
    @include flexdisplay;
    .containertext {
        text-align: center;
        h2 {
        color: $whitetext;
        text-shadow: $boxshadowtext;
        padding: 0.5rem;
        }
    }
}

#featurehero:hover {
    opacity: 0.5;
    cursor: pointer;
}

#featureinfo {
    .infotext {
        padding: 0.5rem;
        border: 2px solid orange;
        border-radius: 5px;
        .fas {
            color: orange;
        }
    }
}